
html, .bodyindex{
    height: 100%;
    margin: 0;
    color: black;
    animation-name: backgroundAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1{
    font-family: Hendryan;
    font-size:700%;
    color:white;
}

.container{
    height: 100%;
    position:relative;
}

.center{
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.butn{
    text-decoration: none;
    text-decoration: solid;
    border-radius: 40px;
    color: white;
    border: 1px solid white;
    padding: 14px 15px;
    background-color: black;
    padding: 14px 28 px;
    cursor: pointer;
}

.butn:hover{
    transition:1s;
    color: black;
    background-color:rgba(255,255, 255, 0.8) ;
}

@keyframes backgroundAnimation{
    /*0%{
        background-image: linear-gradient(to right,#111111, #000000 ) ;
    }
    40%{
        background-image: linear-gradient(to right,#1e1e1e, #111111) ;
    }
    100%{
        background-image: linear-gradient(to right,#1e1e1e, #000000);
    }*/
    from{background-color: #000000;}
    to{background-color: #111111;}
    
}

@font-face{
    font-family: "Hendryan" ;
    src: url("./fonts/Hendryan.ttf");
    font-style: normal;
    font-weight: 600;
}